
.about--container{
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-around;
}

.about--text{
    width: 30%;
}

.about--text p {
    font-family: var(--font-secondary);
}

.about--technologies{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.about--technologies i{
    display: flex;
    font-size: 64px;
    flex-direction: column;
}

.about--tech--container{
    padding: 20px;
    width: 100px;
    border: 3px solid var(--highlight);
}

.about--tech--container p{
    font-weight: bold;
}

@media (max-width: 700px) {
    .about--container{ 
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .about--technologies{
        grid-template-columns: repeat(2, 1fr);
    }

    .about--text {
        width: 90%;
    }

 }