.sidebar--container {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 35vh;
    gap: 10px;
    z-index: 100;
    width: 10vw;
}

.sidebar--container>a>img {
    max-width: 64px;
    transition: all 0.5s ease-out;
}

.sidebar--container>a>img:hover {
    filter: drop-shadow(0px 0px 10px var(--highlight));
}

@media (max-width: 700px) {
    .sidebar--container {
        top: 1vh;
        left: 40vw;
        gap: 10px;
        flex-direction: row;
        z-index: 999;
    }

    .sidebar--container>a>img { 
        max-width: 32px;
    }
}