:root {
    --border-rad: 20px;
}

* {
    color: var(--font);
}

.projects--container {
    position: relative;
    margin: 0 auto;
    width: 70vw;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px repeat(3, 600px);
    grid-auto-rows: auto;
    padding: 30px;
}

#projects>div.projects--card--info>h1>div>h1 {
    font-size: 40px;
}

#projects>div.projects--card--info>h1>div {
    height: 50px;
}

.projects--card {
    position: relative;
    display: flex;
    border-radius: var(--border-rad);
    gap: 40px;
}

.projects--card:nth-child(odd) {
    margin-left: 20vw;
}

.projects--card--info:nth-child(odd) {
    margin-left: 2vw;
    align-items: flex-start;
    text-align: left;
}

.projects--card:nth-child(even) {
    margin-right: 20vw;
}

.projects--card--info:nth-child(even) {
    margin-right: 2vw;
    align-items: flex-end;
    text-align: right;
}

.projects--card--img {
    position: relative;
    padding: 10px;
    width: 85%;
    height: 100%;
}

.projects--card::after {
    content: ' ';
    position: absolute;
    width: 60rem;
    height: 37rem;
    z-index: -2;
    border-radius: var(--border-rad);
    background-color: var(--bright-highlight);
}


.projects--card--img img {
    position: relative;
    display: block;
    width: 100%;
    height: 95%;
    object-fit: cover;
    object-position: left;
    border-radius: var(--border-rad);
    aspect-ratio: 1 / 1;
}

.projects--card--info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 8rem;
    padding: 10px;
    position: relative;
}

.projects--card--button {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-size: 20px;
    width: fit-content;
    align-self: center;
}

.projects--card--button:hover {
    cursor: pointer;
}

.projects--card--button::after {
    position: relative;
    content: '';
    height: 2px;
    background-color: var(--font-highlight);
    width: 100%;
    bottom: 1px;
    display: block;
    transform-origin: bottom;
    transition: all 0.25s;
    z-index: 0;
}

.projects--card--button:hover::after {
    height: 10px;
}


@media (max-width: 700px) {

    .projects--container {
        grid-template-columns: repeat(1, minmax(400px, 1fr));
        grid-template-rows: 10px repeat(3, 150px);
        gap: 100px;
    }



    .projects--card::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 30rem;
        height: 15rem;
        z-index: -2;
        border-radius: var(--border-rad);
        background-color: var(--bright-highlight);
    }

    .projects--card:nth-child(odd) {
        margin-left: 0;
    }
    
    .projects--card--info:nth-child(odd) {
        margin-left: 0;
    }
    
    .projects--card:nth-child(even) {
        margin-right: 0;
    }
    
    .projects--card--info:nth-child(even) {
        margin-right: 0;
    }

    .projects--card--info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        top: 2rem;
        padding: 10px;
        position: relative;
    }
    
}