:root{
    --card-border: #E0EFDE;
    --bright-highlight: #EE6352;
}

*{
    color: var(--font);
}

.projects--container{
    margin: 0 auto;
    width: 70vw;
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 600px);
    padding: 30px;
}

.projects--card{
    display: flex;
    border-radius: 20px;
}

.projects--card:nth-child(odd){
    margin-left: 10vw;
}

.projects--card:nth-child(even){
    margin-right: 10vw;
}

.projects--card--img{
    position: relative;
    padding: 10px;
    width: 85%;
    height: 100%;
}

.projects--card::after{
    content: ' ';
    position: absolute;
    width: 60rem;
    height: 38rem;
    z-index: -1;
    border-radius: 10px;
    background-color: var(--bright-highlight);
}

.projects--card--img img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    object-position: left;
}

.projects--card--info{
    top: 8rem;
    padding: 10px;
    position: relative;
}


@media screen and (max-width: 600px){
    .projects--container{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
        padding: 30px;
    }
}