.rtt--container{
    left: 94vw;
    bottom: 3vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
    width: 64px;
    height: 64px;
}

.rtt--container:hover{
    cursor: pointer;
}

.rtt--arrow{
    font-size: 64px;
}