.title--text::after{
    position: relative;
    content: '';
    border-bottom: 18px solid var(--bright-highlight);
    width: 13.5rem;
    display: block;
    margin: 0 auto;
    left: 2rem;
    top: -2rem;
    z-index: -1;
}

.title--text{
    font-size: 3.5rem;
}


.title--container {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 30vw;
    height: 100px;
}