* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

p, h4{
  font-family: var(--font-secondary);
}


html,
body,
#root {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}